html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#applicationDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mapDiv {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    z-index: 1;
}


/******** Floating leftDiv********/

#leftDiv {
    position: fixed;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    top: 15;
    left: 15;
    z-index: 2;
    max-height: 80%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10;
    background-color: white;
}

#leftDiv p {
    margin: 10 0;
}

#indicatorSelect {
    width: 300px;
}


/* 
@media (max-width: 600px) {
    #leftDiv {
        z-index: 0;
    }
    #mapDiv {
        padding-top: 50px;
    }
} */

******* Misc ******* @media (max-width: 600px) {
    .esri-ui-bottom-right {
        display: none;
    }
    .esri-ui-bottom-left {
        z-index: 0;
    }
}

.esri-time-slider__time-extent,
.esri-time-slider__min-date,
.esri-time-slider__max-date {
    display: none !important;
}

.esri-time-slider__layout--wide .esri-time-slider__min,
.esri-time-slider__layout--wide .esri-time-slider__max {
    width: 0 !important;
}